@import '../../../styles/settings.scss';

.card {
  border-radius: 0%;
  border: none;
  text-align: center;
  box-shadow: $box-shadow;
}

.cardTitle {
  font-size: 2 * $base-size;
}

.adImg {
  height: 15rem;
  width: 80%;
  object-fit: cover;
  margin: 1rem auto;
}

.sellerTitle {
  font-size: 2 * $base-size;
}

.sellerAvatar {
  height: 10rem;
  width: 70%;
  object-fit: cover;
  margin: 2rem auto;
}

.sellerPhone:hover {
  cursor: pointer;
}

.button {
  border-radius: 0%;
  background: $color-main;
  width: 100%;
  border: none;
  margin: 20px auto;

  &:hover,
  &:active {
    background: $color-nav-d-grey;
  }
}

.buttonDanger {
  background-color: $color-warning;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.icon {
  margin-right: 5px;
}

.contextText {
  margin: 2rem 1rem;
}

.modal {
  text-align: center;
}