@import '../../../styles/settings.scss';

.card {
  border-radius: 0%;
  border: none;
  text-align: center;
  box-shadow: $box-shadow;
}

.cardTitle {
  font-size: 2 * $base-size;
}

.sellerTitle {
  font-size: 2 * $base-size;
}

.sellerPhone:hover {
  cursor: pointer;
}

.button {
  border-radius: 0%;
  background: $color-main;
  width: 100%;
  border: none;
  margin: 20px auto;

  &:hover,
  &:active {
    background: $color-nav-d-grey;
  }
}

.buttonDanger {
  background-color: $color-warning;
}