@import './typography.scss';

$color-lightest: #ffffffd6;
$color-light: #fafafa;
$color-lightest-transparent: rgba(255, 255, 255, 0.748);
$color-dark: #262625;
$color-dark-transparent: #262625c2;
$color-nav-d-grey: #313131;
$color-nav-l-grey: #383838;
$color-main:#e0c829;
$color-warning: rgb(190, 46, 46);

$box-shadow: 2px 2px 3px 0 #0000000d;

$base-size: 12px;
$content-height: 70vh;
$content-width: 80vw;
